<!-- include the head.ejs from views/partials -->
<%- include('./partials/head'); %>  

<!-- include the form-styling.ejs from views/partials -->
<%- include('./partials/form-styling'); %>  

    <h1>Add More Users</h1>
    <form method="post" >
        <!-- include the form-fields.ejs from views/partials -->
        <%- include('./partials/form-fields'); %>  
        <button type="submit" >Add User</button>
    </form>
</body>
</html>